<<<<<<< HEAD
.container-fluid{
    height: 70px;
}

.card{
    width: 24rem;
    display: flex;
    flex-direction: column; 
    padding: 8px 8px;
    /* background-color: rgb(221, 225, 226); */
    
    margin: 10px;
}
.card-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.trying{
    display: flex;
    flex-direction: column; 
    padding: 50px;
}
.imaging{
    background-image: url(bg.jpg);
    
=======
.container-fluid{
    height: 70px;
}

.card{
    width: 24rem;
    display: flex;
    flex-direction: column; 
    padding: 8px 8px;
    /* background-color: rgb(221, 225, 226); */
    
    margin: 10px;
}
.card-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.trying{
    display: flex;
    flex-direction: column; 
    padding: 50px;
}
.imaging{
    background-image: url(bg.jpg);
    
>>>>>>> 1f526932f577f3f74a1a01bc3f96495426a03998
}